<!DOCTYPE html>
<html>
<head>
    <title>Juego</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/score.css') }}">
</head>
<body>
    <h1>Well done, you have reached the end of this adventure</h1>
    <h1>you are now one with the time.</h1> 
    <h1>it's time to say goodbye and go out for a while,</h1>
    <h1>it sure is a beautiful day outside and life is too short to waste it that way.</h1>

    <a href="/"><button>click here</button></a>
</body>
</html>