body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    filter: drop-shadow(5px 5px 2px rgb(113, 113, 113));
}

.cube {
    width: 10px;
    height: 10px;
    background-color: red;
}